/*-- scss:uses --*/

/*-- scss:defaults --*/
$badge-font-size:                   .5em;

/*-- scss:rules --*/

.grid-container {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.pullout {
  font-size: 0.9em;
}

.internal {
  background-color: var(--bs-primary)
}

.external {
  background-color: var(--bs-info)
}

table .checkbox {
  visibility: hidden;
}