/*-- scss:uses --*/

/*-- scss:defaults --*/
$badge-font-size:                   .65em;
$badge-padding-y:                   .25em;
$badge-padding-x:                   .45em;

/*-- scss:rules --*/

.grid-container {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.pullout {
  font-size: 0.9em;
  white-space: pre-line;
}

.internal {
  background-color: var(--bs-primary)
}

.external {
  background-color: var(--bs-info)
}

.caption {
  font-style: italic;
  font-size: 0.9em;
}
